.footer {
  width: 100vw;
  height: 40px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  overflow: hidden;
  position: fixed;
  background: #f2f2f2;
}

.logo {
  height: 1em;
  margin: 5px;
}
