.header {
  width: 100vw;
  height: 64px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  position: fixed;
  top: 0;
  overflow: hidden;
  background-color: #333;
  color: #fff;
  font-size: 16px;
}

.header-logo {
  height: 1em;
  margin: 5px;
}
