.header {
  width: 100vw;
  height: 64px;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 60px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  top: 0;
  overflow: hidden;
  color: #333;
  font-size: 18px;
  font-weight: bold;
}

.header-logo {
  height: 1em;
  margin: 5px;
}
