.App {
    text-align: center;
  }

  .title {
    text-align: center;
    margin: 30px;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 40px;
    margin: 50px;
  }
  @media only screen and (max-width : 800px) {
    .main-container {
        margin: 20px;
    }
  }

  .outer-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  @media only screen and (max-width : 800px) {
    .outer-container {
        flex-direction: column;
    }
  }

  .h-border {
    display: none;
  }
  @media only screen and (max-width : 800px) {
    .h-border {
        display: flex;
    }
  }

  .left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    padding: 30px;
    margin-right: 100px;
  }
  @media only screen and (max-width : 800px) {
    .left-container {
      margin-right: 0px;
      margin-bottom: 30px;
    }
  }

  .right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    padding: 30px;
  }
  @media only screen and (max-width : 800px) {
    .right-container {
        padding-top: 0px;
    }
}

  .bottom-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
  }
  
  .inline-form {
    display: flex;
    flex-direction: row;
  }
  
  .inline-form > div > label  {
    margin-left : 15px;
  }
  
  div.form-control-lg  {
    padding : .5rem 0;
    padding-left: 2.25rem;
  }
  
  .inline-form > button  {
    margin : 10px;
  }
  
  .inline-form > button:first-child  {
    margin-left : 10px;
  }
  @media only screen and (max-width : 800px) {
    .inline-form > button:first-child  {
      margin-left : 10px;
    }
  }
  
  label {
    cursor : pointer;
    font-size: 0.8em;
    color: #111;
  }

  .label-div {
    padding-bottom: 10px;
  }

  input {
    font-size: 1.2em;
    outline: 0;
    background: #f2f2f2;
    width: 230px;
    transition: 0.3s;
    border: 2px solid #f2f2f2;
    border-radius: 5px;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
  }
  input:focus {
    border: 2px solid #505050;
  }

  button {
    font-size: 1.2em;
    width: 120px;
    height: 60px;
    cursor: pointer;
    border: 0;
    border-radius: 50px;
    background-color: #00dda6;
    color: #fff;
    box-shadow: 0px 1px 8px 1px #ccc;
    transition: all .2s ease-in-out;
  }

  button:active {
    transform: scale(0.98);
  }

  .results-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    color: #00dda6;
  }

  .result {
    font-weight: bold;
    font-size: 2em;
  }

  .units {
    color: #555;
  }
